<launch>
  <!-- merged laser -->
  <!-- scan1 + scan2 = scan -->
  <include file="$(find ev_bot_description)/launch/ira_merger.launch"/> 

  <!-- Set tf -->
  <node pkg="tf" type="static_transform_publisher" name="world_to_map" args="0 0 0 0 0 0 world map 100" />

  <!-- Arguments -->
  <arg name="model" default="burger" doc="model type [burger, waffle, waffle_pi]"/>
  <arg name="map_file" default="$(find ev_bot_navigation)/maps/map.yaml"/>
  <arg name="open_rviz" default="true"/>
  <arg name="move_forward_only" default="false"/>

  <!-- Map server -->
  <node pkg="map_server" name="map_server" type="map_server" args="$(arg map_file)"/>

  <!-- MCL -->
  <include file="$(find emcl)/launch/emcl.launch"/> 

  <!-- dynamic_reconfigure -->
  <node pkg="emcl" name="emcl_dynamic" type="node.py" output="screen" />
  <node name="rqt_reconfigure" pkg="rqt_reconfigure" type="rqt_reconfigure"/>
</launch>
